@media only screen and (max-width: 1600px) {
body 
{ 
    width: 100%;
    max-width: 1900px;
    min-width: 1440px;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #181818;
}
}

header
{
    background-color: #181818;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 


/*#region header menu*/ 

.header_container
{
    position: absolute;
    top:60px;
    width: 100%;
}

.yourlogo
{
    width: 127px;
    height: 18px;
    position: absolute;
    left: 57px;
    top: 50%;
    transform: translateY(-50%);
}

.header_menu
{
    position: absolute;
    left: 30%;
    
    transform: translateY(-30%);
}

.header_menu_list
{
    display:flex;
}


.header_menu_item
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 0px 63px;
}

.header_menu_item:after
{
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 2px;
    margin-top: 18px;
    background-color: white;

    transition: opacity 0.1s linear;
}

.header_menu_item:hover
{
    cursor: pointer;
}

.header_menu_item:hover:after
{
    opacity: 1;
}

/* sign in */

.signin
{
    display:flex;
    justify-content: center;
    width: 97px;
    height: 33px;
    background-color: white;
    position:absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.signin:after
{
    background-color: gray;
}

.signin:hover
{
    cursor: pointer;
}

.signin_text
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 17px;
    display: flex;
    margin:auto;
}

.button_dropdownMenu
{
    height:25px;
    width: 50px;
    position:absolute;
    right: 05%;
    top: 50%;
    transform: translateY(-50%);
}

.button_dropdownMenu:hover
{
    cursor: pointer;
}

/*#endregion*/


.firstpic
{   
    position: absolute;
    top: -220px;
    bottom: 0;
    left: 40%;
}

.firstpic_circle
{
    height: 375.75px;
    width: 375.75px;
    background-color: #a460f9;
    border-radius: 50%;
    position: relative;
    top: 545px;
    left: -30px;
    display: flex;
    z-index: -1;
}

.firstpic_img
{
    height: auto;
    max-width: 307px;
}

/*#region statistics*/ 
.statistics
{
    position: absolute;
    top: 810px;
    right: 0;
    
    display: flex;
    width: 100%;
    height: 220px;
    background: #181818;
    box-shadow: 0px 1px 25px rgb(0 0 0 / 0.5) ,
	0px -1px 25px rgb(0 0 0 / 0.5);
    
    justify-content:center;
    
}

.statistics_item
{
    display:inline-block;
    align-self: center;
    offset-position: center;
    margin: 0 110px;
    
}

.statistics_item_plus
{
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color:#a460f9;
    display:inline-block;
    font-size: 42px;

}

.statistics_item_number
{
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color:white;
    display:inline-block;
    font-size: 42px;

}

.statistics_item_name
{
    font-weight: 400;
    font-family: 'Krub', sans-serif;
    color:white;
    display:inline-block;
    font-size: 17px;
    margin-left: 20px;
    line-height: 1.3;
}

.statistics :last-child .statistics_item_name
{
    margin-left: 10px;

}

/*#endregion*/


/*#region courses*/ 

.section_courses
{
    position: relative;
    top: 1050px;
    height: 1600px;
    width: 100%;
}

.section_courses_centralImage
{
    position: relative;
    top: 230px;

}

.section_courses_centralImage_oval
{
    position: relative;
    top: -360px;
    width: 830px;
    height: 380px;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.section_courses_centralImage_text
{
    color:white;
    text-align: center;
    font-family: 'Krub', sans-serif;
    font-size: 60pt;
    size: 100px;
}


.section_courses_sideText_square
{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-bottom: -5px;
    margin-right: 25px;
    background-color: white;
}

.section_courses_sideText_text
{
    font-family: 'Krub', sans-serif;
    font-weight: 800;
    color:white;
    font-size: 13px;

}



/*#endregion*/


.section_courses_sideText1
{
    transform: rotateZ(-90deg);
    position: absolute;
    left: -40px;
    top: 1250px;
}

.section_courses_sideText2
{
    transform: rotateZ(90deg);
    position: absolute;
    right: -40px;
    top: 1250px;
}





@font-face {
    font-family: "MyriadPro", sans-serif;
    src: url("/assets/fonts/MyriadPro/Myriad\ Pro\ Bold\ SemiExtended.ttf") format("truetype"); 
    
    font-style: normal; 
    font-weight: normal; 
} 
